@model IEnumerable<ReviewsPortal.Models.User>
@{
    ViewData["Title"] = "Admin Page";
}

<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelUser => user.UserName)
            </td>
        </tr>
    }
</table>
