
@{
    ViewData["Title"] = "Main Page";
}

<head>
</head>
<h1>Hi, user!</h1>
<body>
    <p>Here is a place for your review.</p>
    <p>About anything.</p>
    <p>Almost anything.</p>
    <p>Look at navigation bar and choose the kind of your interests.</p>
</body>

