
@{
    ViewData["Title"] = "Login";
}

<head>

</head>
<h1>Sign in, please...</h1>
<body>
    <div align="center">
        Your email:
        <p>
            <input />
        </p>
        Password:
        <p>
            <input />
        </p>
        <button type="submit">Login</button>
    </div>
       
</body>