@model IEnumerable<ReviewsPortal.Models.Review>

@{
    ViewData["Title"] = "Music";
}

<head>

</head>
<h1>Music</h1>
<body>
    You can read or add feedback about any song (composition, musician, album etc.) you want here.... 
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewTopic)
                </td>
            </tr>
        }
    </table>
</body>

