@model ReviewsPortal.Models.Review
@{
    ViewData["Title"] = "Review";

}

<h1>@Html.DisplayFor(m => Model.ReviewTopic)</h1>



<div class="container bg-dark text-light">
    <h5>author: @ViewData["Author"]</h5>
</div>
<p>
    @Html.DisplayFor(m => Model.ReviewText)
</p>

@*<div id="scrollist">
    @Html.Partial("_Comments")
</div>*@