@model IEnumerable<ReviewsPortal.Models.User>
@{
    ViewData["Title"] = "Admin Page";
}

<h1>Hello, Master!</h1>

<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(user.UserName, "Profile", "Account", user, null)
            </td>

            <td>
                @Html.DisplayFor(modelUser => user.UserEmail)
            </td>
        </tr>
    }
</table>
