@model ReviewsPortal.Models.User

@{
    ViewData["Title"] = "User profile";
    string Name = User.Identity.Name;
}

<h1>Hello, @Name!</h1>
@if (Name == "Admin")
{
    <h5>this is a profile of user @Model.UserName</h5>
}

